.recipe-card-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.main-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/images/food5.png");
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
}

mat-grid-tile {
  background-color: #658F41;
}

img{
  width: 290px;
  border-radius: 5px;
  margin: 5px;
  background-color:white;
  /*transition: all .3s ease;*/
  /*background: rgba(255, 255, 255, 0.7);*/
  overflow: hidden;
  height: auto;
  /*align-items: center;*/
}

img:hover{
  cursor: pointer;
}

.recipe-card {
  width: 300px;
  margin: 5px;
  color: black;
  text-align: center;
  background-color:white;
  transition: transform .3s ease;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}



.recipe-card:hover{
  -webkit-transform: scale(1.12);
  -moz-transform: scale(1.12);
  -ms-transform: scale(1.12);
  -o-transform: scale(1.12);
  transform: scale(1.12);

  box-shadow: 0 6px 2px -4px rgba(0, 0, 0, .2);
}

.input-card{
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.card-row{
 min-height: 350px;
}

mat-card-title{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.undo-button{
  margin-top: 20px;
  padding: 10px;
  color: white;
  font-size: 55px;
}

.card-title-click{
  transition: all .3s ease;
}

mat-card-footer{
  margin-top: 3px;
  /*margin-right: 5px;
  margin-left: 5px;*/
  text-align: center;


}
.card-title-click:hover{
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.icon-container{
  border-radius: 5px;
}
.icon-container:hover{
  background-color: yellow;
  cursor: pointer;
}

.card-image {
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .recipe-card {
    height: 6000px;
    min-height: 300px;
    max-height: 300px;

  }

  @media (max-width: 600px) {
    .recipe-card {
      height: 60px;
    }


    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .icons-container {
      justify-self: flex-end;
    }


  }
}
