

<div class="example-container">
  <div class ="nameAuthor">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Recipe Name">
  </mat-form-field>


<mat-form-field>
  <input matInput placeholder="Author">
</mat-form-field>
  </div>


  <div class="inputButton">
<mat-form-field>
    <input matInput placeholder="Ingredients">
</mat-form-field><mat-icon color="primary" (click)="addItem()">add_circle</mat-icon>
</div>


  <mat-form-field class = "directions">
    <textarea matInput placeholder="Cooking Directions" matTextareaAutosize></textarea>
  </mat-form-field>

</div>

<button mat-button>Submit</button>
