

<div class="example-container">
  <div class ="nameAuthor">
  <mat-form-field class="example-full-width">
    <input [(ngModel)]="recipeName" matInput placeholder="Recipe Name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [(ngModel)]="photoURL" matInput placeholder="Photo URL">
  </mat-form-field>

  <mat-form-field>
    <input [(ngModel)]="recipeCreator" matInput placeholder="Author">
  </mat-form-field>
</div>


<div class="inputButton">
  <div fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" *ngFor="let ingredient of ingredients">
      <mat-form-field >
          <input [(ngModel)]="ingredientNames[ingredient]" matInput placeholder="Ingredients" >
      </mat-form-field>
        <mat-icon *ngIf="ingredient == currentNum - 1" color="primary" (click)="addItem()">add_circle</mat-icon>
        <mat-icon *ngIf="ingredient == currentNum - 1" color="primary" (click)="removeItem(ingredient)">add_circle</mat-icon>
    </div>
  </div>
</div>


  <mat-form-field class = "directions">
    <textarea [(ngModel)]="cookingDirections" matInput placeholder="Cooking Directions" matTextareaAutosize></textarea>
  </mat-form-field>

</div>

<button mat-button onclick="pushRecipe()">Submit</button>

