<div class="background">
  <mat-card>

    <div class="example-container">

      <mat-form-field>
        <input [(ngModel)]="recipeName" [formControl]="recipeNameCtrl" matInput placeholder="Recipe Name">
        <mat-error *ngIf="recipeNameCtrl.hasError('required')">
          Please enter a recipe name
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="photoURL" [formControl]="photoURLCtrl" matInput placeholder="Photo URL">
        <mat-error *ngIf="photoURLCtrl.hasError('required')">
          Please enter a recipe photo
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="authorName" [formControl]="authorNameCtrl" matInput placeholder="Author">
        <mat-error *ngIf="authorNameCtrl.hasError('required')">
          Please enter a recipe Author
        </mat-error>
      </mat-form-field>

      <div fxLayout="row">
        <mat-form-field>
          <input [formControl]="ingredientNameCtrl" matInput placeholder="Ingredient" (keyup.enter)="addItem()">

          <mat-error *ngIf="ingredientNameCtrl.hasError('required') && ingredients.length == 0">
            Please add at least one ingredient

          </mat-error>
        </mat-form-field>
        <mat-icon color="primary" (click)="addItem()">add_circle</mat-icon>
      </div>



      <div class="inputButton">
        <mat-list fxLayoutGap="10px">
          <mat-list-item *ngFor="let ingredient of ingredients; let i = index">
            <div class="list-item-container">
              {{ingredient}}
              <mat-icon color="primary" (click)="removeItem(i)">
                remove_circle
              </mat-icon>
            </div>
          </mat-list-item>
        </mat-list>
      </div>

      <mat-form-field>
        <input [(ngModel)]="cookingDirections" [formControl]="cookingDirectionsCtrl" matInput
               placeholder="Cooking Directions">
        <mat-error *ngIf="cookingDirectionsCtrl.hasError('required')">
          Please add cooking directions
        </mat-error>
      </mat-form-field>


    </div>

    <button mat-raised-button color="primary" (click)="pushRecipe()">Submit</button>
  </mat-card>
</div>

