.example-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-container > * {
  width: 50%;
}

button{
  height: 35px;
  margin: auto;
  display: block;

}

.inputButton{
  /* display: inline;*/
}

.nameAuthor{
  display: inline;
}


