mat-toolbar{
  display: flex;
  justify-content: space-between;
}

span {
  margin: 10px;
}

span:hover{
  cursor:pointer;
}

input{
  height: 25px;
  width: 150px;
}

.end{
  justify-self: flex-end;
}
