.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/images/food1.png");
  background-size: cover;
}

button{
  height: 35px;
  margin: auto;
  display: block;
}

mat-card{
  height: 400px;
  width: 600px;
  display: flex;
  flex-direction: column;
}

mat-tab{
  overflow-y: hidden;
}

mat-tab-body{
  overflow-y: hidden;
}

.google-btn{
  justify-self: flex-end;
  align-self: flex-end;
}
