.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/images/food1.png");
  background-size: cover;
}
.title {
  background-color: lightgrey;
  font-size: 20px;
  display: flex;
  justify-content: center;

}

.subtitle {
  background-color: lightblue;
  font-size: 20px;
  display: flex;
  justify-content: center;

}

.image {
  display: flex;
  justify-content: space-around;
}

.directions{
  border-top: 2px solid black;
  display: flex;
  justify-content:center;

}
