
.detais-card-container {
  height: 100%;
  display: flex;
  flex-direction: column;;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/images/food3.png");
  background-size: cover;
}
.image-ingredients-container {
  display: flex;
  justify-content: space-around;

      }

.image-list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;

}

.directions{
  margin-top: 5px;
  background-color: white;
  display: flex;
  justify-content:center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 5px;
  width: 72.5%;
}

.image-container{
  width: 50%;
}

.ingredients-container{
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.image-container img{
  width: 100%;
  border-radius: 6px;
}

.ingredients-divider{
  width: 80%;

}

.back-button{
  background-color: lightcoral;
  margin: 5px;
}
